<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %} {%endblock %}</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logomarca.png') }}" alt="FlowVis Logo">
            </div>
            <nav class="menu">
                <a class="nav-link active" href="/home">
                    <i class="fas fa-home"></i> Início
                </a>
                <a class="nav-link" href="/meus-eventos">
                    <i class="fas fa-calendar-alt"></i> Meus eventos
                </a>
                <a class="nav-link" href="/grupos">
                    <i class="fas fa-users"></i> Grupos
                </a>
            </nav>
            <div class="bottom-links">
                <a class="nav-link" href="#">
                    <i class="fas fa-cogs"></i> Ajustes
                </a>
                <a class="nav-link" href="#">
                    <i class="fas fa-question-circle"></i> Suporte e Termos
                </a>
            </div>
        </aside>

        <button id="toggle-sidebar" class="btn btn-secondary d-lg-none">
            <i class="fas fa-bars"></i>
        </button>   
        
        <main class="main-content" style="margin-left: 150px; margin-right: 150px;">
            <header class="header">
                <input type="text" class="form-control mt-3" placeholder="Procure um grupo ou evento">
                <div class="icons">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-brands fa-rocketchat"></i>
                    <div class="profile d-flex align-items-center">
                        <i class="fa-solid fa-user me-2"></i>
                        <a href="/profile" style="color: inherit; margin-right: 10px;">{{ user }}</a>
                        <form action="/logout" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-outline-danger btn-sm">Logout</button>
                        </form>
                    </div>                    
                </div>
            </header>
    {% block content %}
    {% endblock %}
    <aside class="event-sidebar">
        <h2>Principais eventos:</h2>
        <ul>
            {% if session.eventos %}
                {% for evento in session.eventos %}
                <li>
                    <span style="font-weight: bold;">{{ evento.nome_evento }}</span>
                    <p>{{ evento.data }}<br>{{ evento.local }}</p>
                    <p>Grupo: <a href="/grupo/{{ evento.grupo_id }}">{{ evento.grupo_nome }}</a></p>
                </li>
                {% endfor %}
            {% else %}
                <li>Nenhum evento próximo.</li>
            {% endif %}
        </ul>
    </aside>
    
</div>   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/flowvis/static/scripts/script.js"></script>
</body>
</html>